.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    color: #ffffff;
    padding: 1rem 6rem;
}

.gpt3__navbar-links {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.gpt3__navbar-links_logo img {
    width: 70px;
    height: 44px;
    margin-left: -1rem;

    cursor: pointer   

}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin: 0 200px;
    align-items: center;
}
.About:hover { 
    box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
    border: 3px solid #00ffff; }

.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer   
 
    }
  
    .social_icons_git:hover { 
        box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
        border: 3px solid #00ffff; }
    
    .social_icons_Twi:hover { 
        box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
        border: 3px solid #00ffff; }
    
    .social_icons_lin:hover { 
        box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
        border: 3px solid #00ffff; }
    
.social_icons_git{
    margin: 0 10px;
}
.social_icons_Twi{
    margin: 0 10px;
}
.social_icons_lin{
    margin: 0 10px;
}
.social_icons_menu,
.social_icons_Twi_menu,
.social_icons_git_menu,
.social_icons_lin_menu,
.gpt3__navbar-links_container p,
.gpt3__navbar-menu_container p {
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.social_icons_menu{
    size: 18px;
    flex-direction: row;

}

.gpt3__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 0rem;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.social_icons_menu {
    display: none;
    flex-direction: row !important;

}
.gpt3__navbar-menu_container-links a:hover { 
    box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
    border: 3px solid #00ffff; }

.social_icons_lin_menu:hover { 
    box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
    border: 3px solid #00ffff; }

.social_icons_git_menu:hover { 
        box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
        border: 3px solid #00ffff; }
    
.social_icons_Twi_menu:hover { 
    box-shadow: 0 0 10px 0 #00ffff inset, 0 0 20px 2px #00ffff;
    border: 3px solid #00ffff; }
        

@media screen and (max-width: 550px) {
    .gpt3__navbar-links_logo img{
        width: 50px;
        height: 30px;
        margin-left: -6.5rem;
    }
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }
    .social_icons_menu,
    .social_icons_Twi,
    .social_icons_git,
    .social_icons_lin {
        display: none; 
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .social_icons_menu,
    .social_icons_Twi_menu,
    .social_icons_git_menu,
    .social_icons_lin_menu {
        display: flex;
        flex-direction: row;
        padding: 0px 5px 0px 5px;
        justify-content: space-between;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer 
    
    
    }
}
